doctype html
html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css', integrity='sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu', crossorigin='anonymous')
  body
    h2 LT 1.0 TOOL CONSUMER
    form#ltiForm(action='/verify', method='GET')
        .form-group
          |lti_message_type:
          input.col-5(name='lti_message_type', type='input', value='basic-lti-launch-request')
          br
        .form-group
          |lti_version:
          input(name='lti_version', type='input', value='LTI-1p0')
          br
        .form-group
          |resource_link_id:
          input(name='resource_link_id', type='input', value='resourceLinkId')
          br
        .form-group
          |resource_link_title:
          input(name='resource_link_title', type='input', value='jisc.ac.uk')
          br
        .form-group
          |tool_secret:
          input(name='tool_secret', type='input', value='secret1')
          br
        .form-group
          |oauth_consumer_key:
          input(name='oauth_consumer_key', type='input', value='jisc.ac.uk')
          br
        .form-group
          |oauth_nonce:
          input(name='oauth_nonce', type='input', value='MTUxNTM2NzA0Nw==')
          br
        .form-group
          |oauth_signature_method:
          input(name='oauth_signature_method', type='input', value='HMAC-SHA1')
          br
        .form-group
          |oauth_version:
          input(name='oauth_version', type='input', value='1.0')
          br
          input(type='submit', value='Submit', onClick='a()')
